<%
defineTitle('404!');
%>
<h1 class="mt-2">404!</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">존재하지 않는 페이지입니다 :(</li>
</ol>
<a class="btn btn-primary btn-sm" href="/" role="button">홈으로 가기</a>