<% defineTitle('로그인'); %>
<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
    <span class="flex items-center mb-6 text-2xl font-semibold">
        Sign in
    </span>
    <% if(req.session.errMsg){ %>
        <div class="ms-3 me-3 mt-1 mb-1 card text-bg-danger text-center d-flex justify-center">
            <div class="card-body">
                <p class="card-text"><%= req.session.errMsg %></p>
            </div>
        </div>
    <% req.removeErrMsg(); %>
    <% } %>
    <div class="w-full md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <form class="space-y-4 md:space-y-6" action="<%= pageUrls.api_signin %>" method="post">
                <div class="form-floating">
                    <input type="text" name="username" id="username" 
                        class="border border-gray-300 sm:text-sm rounded-lg focus:ring-activeColor-600 focus:border-activeColor-600 block w-full p-2.5 form-control" 
                        placeholder="Username" 
                        required="" 
                    />
                    <label for="username" class="block mb-2 font-medium">Username</label>
                </div>
                <div class="form-floating d-flex">
                    <input type="password" name="password" id="password" 
                        class="border border-gray-300 sm:text-sm rounded-lg focus:ring-activeColor-600 focus:border-activeColor-600 block w-full p-2.5 form-control" 
                        placeholder="Password" 
                        required="" 
                        autocomplete="on"
                    />
                    <!--
                    <button type="button" class="border-none bg-transparent ml-2" tabindex="-1">
                        <i id="password-icon" class="fa fa-eye fa-lg" style="font-size: 1rem;"></i>
                    </button>-->
                    <label for="password" class="block mb-2 font-medium">Password</label>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            <input id="remember" name="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded focus:ring-3 focus:ring-activeColor-300"/>
                        </div>
                        <div class="ml-3 text-sm">
                            <label for="remember" class="text-secondary-emphasis">Remember me</label>
                        </div>
                    </div>
                    <!--<a href="#" class="text-sm font-medium text-activeColor-600 hover:underline">Forgot password?</a>-->
                </div>
                <button type="submit" class="w-full text-white btn btn-primary focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign in</button>
                <p class="text-sm font-light text-secondary-emphasis">
                    Don’t have an account yet? <a href="<%= pageUrls.signup %>" class="font-medium text-activeColor-600 hover:underline">Sign up</a>
                </p>
            </form>
        </div>
    </div>
</div>