<% defineMainflex(false); %>
<% defineTitle('403!'); %>

<h1 class="admin-title">403!</h1>
<ol class="breadcrumb mb-4">
	<li class="breadcrumb-item active">접근 권한이 없는 페이지입니다 :(</li>
</ol>

<div class="d-fiex">
	<a class="btn btn-primary btn-sm" href="/admin/" role="button">관리자 홈으로 가기</a>
	<a class="btn btn-secondary btn-sm" href="/" role="button">홈으로 가기</a>
</div>